.col-xs-10.col-md-10.col-md-offset-1
  %h3{:align => "center"} Shift left via DevSecOps
  %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "210", :src => "https://www.youtube.com/embed/XnYstHObqlA", :width => "370"}

%hr.divider
